doctype !DOCTYPE html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title User Management
  body
    h1 Welcome to User Management
    h2 Add User
    form(action="/addUser", method="POST")
      input(name="name", placeholder="Name")
      input(name="email", placeholder="Email")
      input(name="age", placeholder="Age")
      button(type="submit") Submit
    h2 List Users
    form(action="/listUsers", method="GET")
      button(type="submit") Go To List
      